@charset "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Roboto|Maven+Pro|Open+Sans|Russo+One);

/*
 * wreis.css
 *
 * Precedence of selectors is calculated as the following:
 *
 *     highest priority:  id
 *     next highest:      class / attribute
 *     lowest:            tags / elements
 *
 *    id - class - tags
 */


#user_menu_container img {
    border-radius: 50%;
    height: 28px;
    margin-top: 1px;
    vertical-align: middle;
    width: auto;
}

span #username {
    display: inline-block;
    height: 100%;
    margin: 0 8px 0 0;
    vertical-align: middle;
}

div#blank_screen {
    background-color: #000;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1599;
}

/* toast is used to provide feedback when the user
** clicks a copy button. It pops up a window that
** says "Copied to clipboard" for 3 seconds...
*/
#toastParent {
    position: relative;
}

#toast {
    visibility: hidden;
    max-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 10;
    top: 10%;
    right: 9%;
    font-size: 10pt;
    font-family: sans-serif;
    margin-left: -25px;
    /* half of width to center */
    transition: visibility 0.5s, opacity 0.5s;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}

@keyframes flash {
    0%, 100% {
        color: initial;
    }

    50% {
        color: red;
    }
}

.fa-clone.flashing {
    animation: flash 0.25s 5;
}